@page "/terms-of-service"
@layout Layout.FullWidthLayout
@inject IConfiguration Configuration

<Logo FontSizeText="2" />

<div class="full-card">
    <article class="container">
        <MudText Typo="Typo.h1" Align="Align.Center">Terms of Service</MudText>
        <MudText Typo="Typo.body1" GutterBottom="true">
            Welcome to <strong>CodeStash</strong> (“we”, “our”, or “the Platform”). CodeStash is a secure and organized place to stash, manage, and share your code snippets with ease. These Terms of Service (“Terms”) govern your use of our website, 
            <MudLink Href="@Configuration["CodeStash:UIUrl"]" Target="_blank" rel="noopener noreferrer">codestash.ng</MudLink> (the “Site”), and any related services provided by CodeStash.
        </MudText>

        <MudText Typo="Typo.h2">1. Acceptance of Terms</MudText>
        <MudText Typo="Typo.body1" GutterBottom="true">
            By accessing or using CodeStash, you agree to be bound by these Terms. If you do not agree to these Terms, please do not use the Platform.
        </MudText>

        <MudText Typo="Typo.h2">2. Eligibility</MudText>
        <MudText Typo="Typo.body1" GutterBottom="true">
            You must be at least 13 years old to use CodeStash. By using our services, you represent and warrant that you meet the minimum age requirement.
        </MudText>

        <MudText Typo="Typo.h2">3. User Accounts</MudText>
        <MudList T="string">
            <MudListItem>
                <strong>Registration:</strong> In order to post code snippets, you must create an account. During registration, you will be asked to provide your first name, last name, email address, and a username. You may however copy code snippets and interact with the Platform even without registering.
            </MudListItem>
            <MudListItem>
                <strong>Account Management:</strong> You are responsible for maintaining the confidentiality of your account information. You may delete your account at any time through the provided account settings or by contacting us.
            </MudListItem>
            <MudListItem>
                <strong>Accuracy of Information:</strong> You agree to provide accurate, current, and complete information during the registration process and to update such information as needed.
            </MudListItem>
        </MudList>

        <MudText Typo="Typo.h2">4. User-Generated Content</MudText>
        <MudList T="string">
            <MudListItem>
                <strong>Ownership and License:</strong> By posting a code snippet on CodeStash, you acknowledge and agree that the snippet becomes the property of the Platform. This grants CodeStash the right to use, display, modify, and distribute your code snippets as it sees fit.
            </MudListItem>
            <MudListItem>
                <strong>Content Restrictions:</strong>
                <MudList>
                    <MudListItem>
                        You may not post copyrighted code snippets unless you possess the appropriate license or authorization to do so.
                        </MudListItem>
                    <MudListItem>
                        You may not post malicious code or any content that is illegal or harmful. CodeStash reserves the right to remove any content that violates these rules.
                        </MudListItem>
                </MudList>
            </MudListItem>
        </MudList>

        <MudText Typo="Typo.h2">5. Content Moderation and Reporting</MudText>
        <MudList T="string" >
            <MudListItem>
                <strong>Moderation:</strong> We reserve the right to review, moderate, and remove any user-generated content that violates these Terms or is deemed inappropriate at our sole discretion.
                </MudListItem>
            <MudListItem>
                <strong>Reporting Violations:</strong> While we plan to introduce a formal reporting mechanism in the future, please feel free to contact us at
                <MudLink Href="@($"mailto:{Configuration["CodeStash:Email"]}")" Color="Color.Primary">info@codestash.ng</MudLink>
                if you encounter content that you believe violates these Terms.
            </MudListItem>
        </MudList>

        <MudText Typo="Typo.h2">6. Termination Policy</MudText>
        <MudText Typo="Typo.body1" GutterBottom="true">
            We reserve the right to suspend or terminate user accounts and access to the Platform at our discretion if you:
        </MudText>
        <MudList T="string">
            <MudListItem>Share copyrighted content without proper licensing.</MudListItem>
            <MudListItem>Share malicious code or any content that is harmful to users or the Platform.</MudListItem>
            <MudListItem>
                Violate any of these Terms or engage in any other activity that, in our sole judgment, is harmful to the Platform or its users.
            </MudListItem>
        </MudList>

        <MudText Typo="Typo.h2">7. Liability Disclaimer</MudText>
        <MudText Typo="Typo.body1" GutterBottom="true">
            CodeStash is provided on an “as is” and “as available” basis. We make no warranties regarding the reliability, accuracy, or usefulness of any code snippets shared on the Platform. You assume full responsibility and risk for any use of the content available on CodeStash. In no event shall CodeStash be liable for any damages arising from your use of the Platform.
        </MudText>

        <MudText Typo="Typo.h2">8. Changes to the Terms</MudText>
        <MudText Typo="Typo.body1" GutterBottom="true">
            We may update these Terms from time to time. Your continued use of CodeStash after any changes constitutes your acceptance of the updated Terms. Please review these Terms periodically for any changes.
        </MudText>
        
        <MudText Typo="Typo.h2">9. Governing Law</MudText>
        <MudText Typo="Typo.body1" GutterBottom="true">
            These Terms are governed by and construed in accordance with the laws applicable to the developer’s place of business. Any disputes arising from these Terms shall be resolved in the appropriate courts of that jurisdiction.
        </MudText>
        
        <MudText Typo="Typo.h2">10. Contact Information</MudText>
        <MudText Typo="Typo.body1" GutterBottom="true">
            If you have any questions or concerns about these Terms, please contact us at 
            <MudLink Href="@($"mailto:{Configuration["CodeStash:Email"]}")" Color="Color.Primary">info@codestash.ng</MudLink>.
        </MudText>
        
        <MudText Typo="Typo.body1"><strong>Last updated:</strong> 9th February, 2025</MudText>
    </article>
</div>

@code {

}

<style>
    .full-card {
        background: #02182B;
        padding: 2rem;
        border: 1px solid #00FFFF;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 960px;
    }
</style>


