@page "/weather"
@inject ISnippetService snippetService

<PageTitle>Languages</PageTitle>

<h1>Programming and Scripting Languages</h1>

<p>This component demonstrates showing data.</p>

@if (languages == null)
{
    <p><em>Loading...</em></p>
}
else
{
    foreach (var language in languages)
    {
        <li>@language</li>
    }
}

@code {
    private List<string?>? languages;

    protected override void OnInitialized()
    {
        var result = snippetService.GetAllSnippetLanguages();

        if (result.IsSuccess)
        {
            languages = result.Data;
        }
        else
        {
            Console.WriteLine(result.Error);
        }
    }
}
