@page "/weather"
@using CodeStash.Core.Entities
@using System.Text.Json
@using CodeStash.Core.Models
@inject HttpClient Http

<PageTitle>Tags</PageTitle>

<h1>Tags</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (tags == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <hr/>

    <table class="table">
        <thead>
            <tr>
                <th>S/N</th>
                <th>Tag Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tag in tags)
            {
                counter++;
                <tr>
                    <td>@counter</td>
                    <td>@tag.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Tag>? tags = [];
    private int counter;

    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<Result<List<Tag>>>("api/tags");

        if (result.IsSuccess)
        {
            tags = result.Data;
        }
        else
        {
            // Handle error case appropriately
        }
    }
}
